// swiper внутри section

.swiper {
    @include margin-top(90,40);
    &-navigation {
        display: flex;
        align-items: center;
        margin-top: 40px;
        @include gap(50,25);
    }
    &-arrows {
        position: relative;
        display: flex;
        @include gap(40,20);
    }
    &-arrow {
        cursor: pointer;
        &_disabled {
            path {
                stroke: $gray;
            }
        }
    }
    &-scrollbar {
        width: 100%;
        background: $gray;
        height: 2px;
        .swiper-scrollbar-drag {
            background: $blue;
        }
    }
}