.slogan {
    background: url('../images/bg-slogan.png') no-repeat 50%/cover;
    @include padding-top(240,180);
    @include padding-bottom(250,50);
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        @include max-width(850,320);    
    }
    &__title {
        margin: 0;
        font-weight: 700;
        @include font-size(72,36);
        line-height: 1.2;
        color: #FFFFFF;
        &-first {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                right: -17%;
                @include width(155,110);
                @include height(50,45);
                background: url('../images/icons/together.svg') no-repeat center/contain;
            }
        }
        &-second {
            font-weight: 900;
            @include font-size(96,68);
            line-height: 1;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px white;
        }
    }
    &__btn {
        margin-top: 60px;
    }
    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        &-icon {
            &_vk, &_inst {
                path {
                    transition: .3s ease all;
                }
                &:hover {
                    path {
                        fill: $yellow;
                    }
                }
            }
            &_facebook {
                path {
                    transition: .3s ease all;
                }
                &:hover {
                    path {
                        stroke: $yellow;
                    }
                }
            }
        }
    }
}